@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins',sans-serif;
    color: #1E1E2A;
}

    .header-container {
        height: 100vh;
        width: 100vw;
        background-color: #bacce5e7;
        background-image: url(andreson_01.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 0 112px;
        position: relative;
    }

    h1{
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .social-media{
        margin-top: 1rem;
        text-transform: uppercase;
        font-size: medium;
        font-family: 'Poppins' ,sans-serif;
        display: flex;
        border-color: #1E1E2A;
    }

    .social-media a{
        text-decoration: none;
        color: #1E1E2A ;
        padding: 1rem 4rem;
        border: 2px solid #1E1E2A; 
        min-width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s ease-in-out;
    }

    a:hover{
        background-color: #ffffff;
        transform: scale(2.05px);
    }

    /* menu hamburguer*/
    .checkbox-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkbox{
        height: 100px;
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: flex;
        cursor: pointer;
        z-index: 9999;
        transition: 400ms ease-in-out 0s;
    }

    .checkbox .trace{
        width: 50px;
        height: 3px;
        background-color: #1E1E2A;
        position: absolute;
        border-radius: 4px;
        transition: 0.5s ease-in-out;
    }

    .checkbox .trace:nth-child(1){
        top:26px;
        transform: rotate(0);
    }

    .checkbox .trace:nth-child(2){
        top:46px;
        transform: rotate(0);
    }
    .checkbox .trace:nth-child(3){
        top:66px;
        transform: rotate(0);
    }

    
    #toggle{
        display: nome;
    }
    
    /*___menu__*/

    .menu{
        position: absolute;
        top: 20px;
        right: 30px;
        background-color: transparent;
        height: 4px;
        width: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px #ffffff;  
        z-index: -1;
        transition:400ms ease-in-out 0s;
    }

    .menu-itens {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: 400ms ease-in-out 0s;
    }

    .menu-itens ul{
        list-style-type: none;
    }

    .menu-itens ul li a{
        margin: 10px 0;
        color: #1E1E2A;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 40px;
    }


    #toggle:checked + .checkbox .trace:nth-child(1){
        transform: rotate(45deg);
        top: 47px;
    }

    #toggle:checked + .checkbox .trace:nth-child(2){
        transform: translate(-100px);
        width: 30px;
        visibility: hidden;
        opacity: 0;
    }

    #toggle:checked ~.menu{
        box-shadow: 0px 0px 0px 0px 100vmax #ffffff;
        z-index: 1;
    }

    #toggle:checked ~.menu-itens{
        visibility: visible;
        opacity: 1;
    }

    /*cards do main*/

    .container{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 3rem 0;
    }

    .card-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 60%;
        
    }

    .card{
        width: 250px;
        height: 250px;
        border-radius: 100%;
        margin: 3rem 0 0 0;
        display: flex;
        align-items: center;
        justify-self: center;
        background-color: #bacce5e7;
        background-image: url(andreson_01.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(0.5);
        color: #1E1E2A;
        cursor: pointer;
        transition: 0.5s;
    }

    .card:hover{
        border: 15px solid #ffffff;
        transition: 0.5s ease-in-out;
        filter: unset;
    }


    .card-text{
        width: 60%;
        letter-spacing: 2px;
        color: #32324b;
        font-family: 'Poppins',sans-serif;
        
        
    }


    .card-wrapper{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .card-wrapper ::before{
        content: '';
        position: absolute;
        height: 100px;
        width:100px;
        border-radius: 50%;
        display: flex;
        border: 1px solid #ffffff;
        opacity: 1;
        transition: 0.5s ease-in-out;
        
    }

    .card-wrapper h2{
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 0;
        transition: 0.5s ease-in-out;
    }

    .card-wrapper p{
        font-size: 0;
        visibility: visible;
        opacity: 0;
        font-weight: bold;
        text-transform: uppercase;
        transition: 0.5s ease-in-out;
    }

    .card:hover > .card-wrapper ::before{
        height: 200px;
        width: 200px;
        opacity: 1;
    }

    .card:hover > .card-wrapper p{
        opacity: 1;
        visibility: visible;
        font-size: 14px;
    }




